.footer {
  background-color: black;
  height: 200px;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.footerLink {
  color: #fff;
}

.footerText {
  color: white;
  text-align: center;
  margin: 10px;
}

.footerIcons {
  display: flex;
  margin-top: 0px;
}

.socialIcon {
  margin: 10px 30px;
  color: white;
}